<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>false</resetJUL>
  </contextListener>

  <!--  log to System.out on console  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--  log to file test.logObject  -->
  <appender name="TEST_LOG" class="ch.qos.logback.core.FileAppender">
    <file>test.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="TEST_LOG"/>
  </root>
  <logger name="org.ops4j.graqulus" level="INFO"/> 
  <logger name="org.jboss.weld" level="WARN"/> 
  
</configuration>
